@model GoF.Lib.MvcWebUI.Models.AdministratorViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/img/profile.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post" asp-action="Register" asp-controller="Login">
            <input type="text" id="login" asp-for="@Model.FirstName" class="fadeIn second" placeholder="Ad">
            <input type="text" id="lastname" asp-for="@Model.LastName" class="fadeIn third" placeholder="Soyad">
            <input type="email" id="email" asp-for="@Model.Email" class="fadeIn third" placeholder="Email">
            <textarea id="about" asp-for="@Model.About" class="fadeIn third" placeholder="About"></textarea>
            <input type="text" id="user" asp-for="@Model.Username" class="fadeIn third" placeholder="Kullanıcı Adı">
            <input type="password" id="password" asp-for="@Model.Password" class="fadeIn third" placeholder="Parola">
            <input type="submit" class="fadeIn fourth" value="Giriş Yap">
            <br />      

        </form>
    
        <!-- Remind Passowrd -->
       

    </div>
</div>


