@model GoF.Lib.MvcWebUI.Models.AddArticleViewModel
@{
    ViewData["Title"] = "AddArticle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<form asp-action="AddArticle" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h3 class="title">Makale Düzenle</h3>
            </div>
            <div class="box-body">
                <div class="row mbn-20">
                    <div class="row mbn-15">

                        <div class="col-4 mb-15">

                            <label asp-for="@Model.ArticleTitle"></label>
                            <input type="text" class="form-control" placeholder="Makale Başlığı" asp-for="@Model.ArticleTitle">
                        </div>
                        <div class="col-4 mb-15">
                            <div class="form-group">
                                <label for="field-7" class="control-label">Makale Thumbnail</label>
                                <input type="file" asp-items="@Model.FormFiles" name="formFiles" class="dropify" multiple data-show-upload="true" data-height="85" />
                            </div>
                        </div>
                        <div class="col-4 mb-15">
                            <label asp-for="@Model.Author" class="control-label"></label>
                            <select class="form-control" id="drpcategories" asp-for="@Model.AdminId" asp-items="@Model.Author">
                                <option disabled selected value="-1">Choose</option>
                            </select>
                        </div>
                        <div class="col-4 mb-15">
                            <label asp-for="@Model.Views"></label>
                            <input type="text" class="form-control" placeholder="Görüntülenme" asp-for="@Model.Views">
                        </div>
                        <div class="col-4 mb-15">
                            <label asp-for="@Model.Categories" class="control-label"></label>
                            <select class="form-control" id="drpcategories" asp-for="@Model.CategoryId" asp-items="@Model.Categories">
                                <option disabled selected value="-1">Choose</option>
                            </select>
                        </div>
                        <div class="col-4 mb-15">
                            <span>Tag Eklemek İçin İlk Önce Makaleyi Kaydedin<br /></span>

                        </div>
                        <div class="col-4 mb-15">
                            <label>&nbsp</label>
                            <button class="btn btn-success" type="submit">
                                Kaydet
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <textarea class="summernote" asp-for="@Model.ArticleContent"></textarea>
            </div>
            <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>